body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  overflow: hidden;
  background-color: rgb(250, 218, 218);
}
.circle {
  height: 100px;
  width: 100px;
  margin-right: 50%;
  margin-left: 50%;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  display: flex;
  background-color: crimson;
  transform: translateX(0px) scale(1);
  animation-name: move;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes move {
  form {
    transform: translateX();
    background-color: crimson;
  }
  to {
    transform: translateY(-500px);
    background-color: rgb(5, 5, 214);
  }
}
h2 {
  margin-top: 2px;
  margin-left: 50%;
  margin-right: 50%;
}
